// Base

.navbar {
  background-color: #fff;
}

.navbar li.active a {
  border-bottom: 1px solid #808080
}

#featured,
#about {
  padding-top: 50px;
}



#films
 {
  padding-top: 30px;
}



#films .col-sm-4 {
    padding-bottom: 30px;
}
