---
title: Christopher McGill
---
.row#featured
  .col-sm-12
    main role="main"
      section
        div.embed-responsive.embed-responsive-16by9
          iframe src="//player.vimeo.com/video/157829591?color=ffffff&title=0&portrait=0&byline=0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""

        h1 Nebraska
        p Mixtape shoreditch brooklyn, banjo chartreuse mustache aesthetic echo park master cleanse etsy chia chicharrones twee messenger bag. Shoreditch blog cornhole migas biodiesel aesthetic yuccie, affogato scenester neutra helvetica marfa street art four loko church-key. Brooklyn schlitz meh helvetica, sriracha green juice photo booth selfies cardigan yr selvage.



.row#films
  .col-sm-12
      h1 Films
  .col-sm-4
    div.embed-responsive.embed-responsive-16by9
      iframe src="//player.vimeo.com/video/157829591?color=ffffff&title=0&portrait=0&byline=0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""

  .col-sm-4
    div.embed-responsive.embed-responsive-16by9
      iframe src="//player.vimeo.com/video/157829591?color=ffffff&title=0&portrait=0&byline=0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""

  .col-sm-4
    div.embed-responsive.embed-responsive-16by9
      iframe src="//player.vimeo.com/video/157829591?color=ffffff&title=0&portrait=0&byline=0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""

  .col-sm-4
    div.embed-responsive.embed-responsive-16by9
      iframe src="//player.vimeo.com/video/157829591?color=ffffff&title=0&portrait=0&byline=0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""

  .col-sm-4
    div.embed-responsive.embed-responsive-16by9
      iframe src="//player.vimeo.com/video/157829591?color=ffffff&title=0&portrait=0&byline=0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""

  .col-sm-4
    div.embed-responsive.embed-responsive-16by9
      iframe src="//player.vimeo.com/video/157829591?color=ffffff&title=0&portrait=0&byline=0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""

  .col-sm-4
    div.embed-responsive.embed-responsive-16by9
      iframe src="//player.vimeo.com/video/157829591?color=ffffff&title=0&portrait=0&byline=0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""

  .col-sm-4
    div.embed-responsive.embed-responsive-16by9
      iframe src="//player.vimeo.com/video/157829591?color=ffffff&title=0&portrait=0&byline=0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""

  .col-sm-4
    div.embed-responsive.embed-responsive-16by9
      iframe src="//player.vimeo.com/video/157829591?color=ffffff&title=0&portrait=0&byline=0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""

.row#about
  .col-sm-12
  .col-sm-4
    img.img-responsive src="img/mcgill.jpg" alt="A beautiful boy"
  .col-sm-4
    h1 About
    p Christopher McGill is an award winning director, currently living in London, UK.
    p His work includes Music Videos, Short Films, Commercials and Promotional Films.
    p Clients include RSC, National Theatre, BBC, Royal Opera House, Sony, Almeida, Hofesh Shechter, Udderbelly, Royal Court and National Gallery.

    hr
    h3 FILM:
    p UK. Humphrey Elles-Hill @Independent
    a= link_to "www.independenttalent.com", "www.independenttalent.com"
    h3 COMMERCIAL:
    p= link_to "dusty@dusthouse.org", "mailto:dusty@dusthouse.org"
    h3 MUSIC VIDEO:
    p= link_to "chris@dusthouse.org", "mailto:chris@dusthouse.org"

    p Follow
      /= link_to "Instagram", "https://www.instagram.com/dusthouse/"
